/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;*/

:root {
  --primary-color: rgba(255, 106, 19, 0.2);
  --secondary-color: rgba(0, 0, 0, 0.7);
  --tertiary-color: rgba(255, 106, 19, 0.8);
  --heading-font-family: "Roboto Mono", monospace;
  --default-font-family: "Roboto", sans-serif;
}

.body-text {
  display: block;
  margin: 0 auto;
  max-width: 1300px;
  justify-content: center;
}

h1.homepage-header {
  font-family: var(--heading-font-family);
  font-size: 80px;
  padding-top: 20px;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  padding-top: 20px;
}

h3,
h4,
h6,
li,
p {
  font-family: var(--default-font-family);
  font-weight: 400;
  color: var(--secondary-color);
}

h2 {
  font-size: 30px;
  font-family: var(--default-font-family);
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
  color: var(--tertiary-color);
}
h5 {
  font-family: var(--heading-font-family);
  font-size: 40px;
}

.role-area {
  font-size: 18px;
  color: var(--secondary-color);
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 100px 20px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 40px;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  line-height: 26px;
  padding: 12px 30px;
  text-decoration: none;
}
.btn-link {
  background: var(--tertiary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 26px;
  padding: 12px 30px;
  text-decoration: none;
}

.headshot {
  border-radius: 6px;
}

.content-container {
  padding: 40px 20px;
}
.content-container h2 {
  color: var(--tertiary-color);
  font-size: 18px;
  font-weight: 400;
}
.content-container p {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 28px;
}

.content {
  margin: 30px;
}

.content h3 {
  font-family: var(--heading-font-family);
  font-weight: Bold;
  font-size: 24px;
  color: black;
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
  margin: 0;
}

.logo {
  max-height: 30px;
}
nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--tertiary-color);
  font-weight: 900;
}

footer {
  margin: 30px 0;
}

footer .contact-box {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 6px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;

  font-family: var(--heading-font-family);
}

footer .email-link:hover {
  color: var(--tertiary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--tertiary-color);
  padding: 10px;
  font-size: 30px;
  transition: all 100ms ease-in-out;
}
footer .social-links a :hover {
  color: var(--secondary-color);
}
.github-project-link {
  text-decoration: none;
  color: var(--tertiary-color);
  font-family: var(--heading-font-family)
}

@media (max-width: 600px) {
  .role-description {
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  h5 {
    font-size: 24px;
  }
}
